* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.main-page {
  background-image: url("./images/mobile/image-hero.jpg");
  background-size: cover;
  height: 100vh;
}
.header-container {
  display: flex;
  flex-direction: column;
}
.header-title {
  display: flex;
  flex-direction: row;
  height: 10rem;
  width: 100%;
  place-content: center;
  place-items: center;
  background-color: #121212;
}
.header-container img {
  height: 3rem;
  width: 3rem;
  margin-left: 1rem;
}
.title {
  font-weight: bold;
  font-size: 3rem;
  color: #f8f8f8;
}
.nav-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: #121212 solid 0.05rem;
}

.nav-item {
  display: block;
  list-style: none;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 1.5rem;
  text-align: center;
  color: #ffffffea;
}

.resume-container {
  display: flex;
  height: 25%;
  margin-top: 30%;
  border: #f8f8f8 solid 0.2rem;
  align-items: center;
  justify-content: center;
  opacity: 0;
  clip-path: polygon(100% 100%, 100% 0, 100% 100%, 0% 100%);
  animation: show 2s cubic-bezier(0.86, 0.13, 0.55, 1.03) forwards;
}

.resume-text {
  font-size: 3em;
  text-align: center;
  color: #f8f8f8;
  max-width: 25rem;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 2rem;
}
#home {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.section-title {
  margin-top: 1.5rem;
}

#image-interactive {
  width: 25rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.description {
  text-align: center;
  max-width: 24rem;
  padding-top: 2rem;
  font-weight: 400;
}

.gallery-item {
  margin: 10 18;
}
.gallery-item img {
  width: 250px;
}
#contact {
  background-color: #333;
  justify-content: center;
  color: #f8f8f8;
}

.form-container {
  width: 70vw;
  height: 30vh;
  margin: 70px 18px;
}
.form-container {
  display: flex;
  justify-content: center;
  align-self: center;
}
.form-container input {
  display: block;
}
.input-contact {
  background-color: transparent;
  color: #f8f8f8;
  width: 70vw;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  margin: 2rem;
}
.button-contact {
  background-color: #333;
  color: #f8f8f8;
  height: 4rem;
  display: block;
  width: 20rem;
  margin: auto;
}

footer {
  width: 100%;
  background-color: #1212127e;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  place-content: center;
}

.social-button {
  margin: 1rem;
}
.social-button:hover {
  transform: scale(1.5);
}
@keyframes show {
  to {
    opacity: 1;
    clip-path: polygon(100% 100%, 100% 0, 0 0, 0% 100%);
  }
}

