

.header-container {
  flex-direction: row;
}
.nav-wrapper {
  height: 10rem;
  background-color: #121212;
  justify-content: center;
}
.nav-wrapper a{
    color: #f8f8f8;
}
.footer-container {
  flex-direction: row;
  place-content: center;
}