@media (min-width: 600px) {
  .footer-container {
    flex-direction: row;
    place-content: center;
  }
}
header {
  flex-direction: row;
}
.header-container {

}
.nav-wrapper {

}
.nav-wrapper a{
    color: #f8f8f8;
}
